.shop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.sidebar {
  width: 20%;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.product-grid {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-grid app-product-card {
  width: 30%;
  margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .shop-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .product-grid {
    width: 100%;
  }

  .product-grid app-product-card {
    width: 100%;
  }
}
