<nav class="navbar">
  <div class="navbar__logo">
    <a routerLink="/">Multishop</a>
  </div>
  <div class="navbar__search">
    <input type="text" placeholder="Search products...">
  </div>
  <div class="navbar__controls">
    <ng-container *ngIf="isAuthenticated; else guestControls">
      <span>Welcome, {{ user?.firstName }}</span>
      <button (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #guestControls>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </ng-template>
  </div>
</nav>
